<form action="/checkout" method="post">
  <input type="text" name="item" placeholder="enter item name here...">

  <input type="submit" value="submit">
</form>

<% if @item %>
  <p><%= @item %></p>
<% end %>